services:
  postgres:
    image: postgres:18.1
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      PGDATA: /var/lib/postgresql/data/
    ports:
      - "5434:5432"
    volumes:
      - pg_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: .
    restart: unless-stopped
    entrypoint: ["tail", "-f", "/dev/null"] # apenas para desenvolvimento
    env_file:
      - .env
    volumes:
      - "./app:/code/app/"
      - "./migrations:/code/migrations/"
    ports:
      - "8000:8000"
    depends_on:
      - postgres

volumes:
  pg_data: